In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('../data/raw/trafico-horario.csv')
df.head()  # Para ver las primeras filas

,sensor_id,fecha_hora,total_vehiculos,coches,motos,camiones,buses,velocidad_media_kmh,nivel_congestion
0,1,2024-12-01 00:00:00,432,324,26,73,9,65,Baja
1,1,2024-12-01 01:00:00,287,215,17,49,6,72,Baja
2,1,2024-12-01 02:00:00,184,138,11,31,4,78,Baja
3,1,2024-12-01 03:00:00,127,95,8,21,3,82,Baja
4,1,2024-12-01 04:00:00,145,109,9,25,2,80,Baja

In [28]:
# Eliminar duplicados en caso de que haya
df = df.drop_duplicates()

In [29]:
# Si hay nulos eliminar el registro
df_sin_nulos = df.dropna()

In [30]:
# Asegurar que fecha_hora est√° en formato datetime
df['fecha_hora'] = pd.to_datetime(df['fecha_hora'])

In [31]:
# Separa en columna fecha y hora
df['fecha'] = df['fecha_hora'].dt.date

df['hora'] = df['fecha_hora'].dt.hour

df = df.drop(columns=['fecha_hora'])

In [32]:
df.to_csv('../data/processed/trafico_horario_processed.csv', index=True)